:root {
  --main-headline-color: rgb(165, 165, 225);
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    min-height: 100dvh;
    min-width: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(6, 3, 35, 0.9);
}

/* ------->HEADER------------------------------*/

header {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    padding: 12px 0 64px 0;
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
}

.headline-and-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 32px 12px 32px;

}

.logo-wrapper{
    height: 72px;
    width: 98px;
}

.pokedex-logo {
    height: auto;
    width: 100%;
    object-fit: contain;

}

.pokedex-main-headline{
    font-family: 'Londrina Shadow', sans-serif;
    font-size: 72px;
    color:var(--main-headline-color);
    margin: 0;
}

.search-pokemon-section { 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

#error-no-pokemon-found {
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    font-size: 24px;
    color: var(--main-headline-color);
}

.input-search-pokemon {
    width: 240px;
    height: 48px;
    font-size: 18px;
    text-align: center;
}

.loading-btn {
    width: 160px;
    height: 32px;
    font-size: 16px;
    font-weight: 800;
    background-color:rgb(165, 165, 225);
}

/* ------->MAIN------------------------------*/

main {  
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 120px 24px 0 24px;
    flex: 1;   
}

.laoding-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.loading-spinner{
    width: 120px;
    height: auto;
}

.error-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--main-headline-color);
    margin: 36px 0 36px 0;
}

.error-message-content{
    font-size: 24px;
}

.error-text{
    font-size: 32px;
    
}

.pokemon-thumbnails-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.small-pokemon-card {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    max-height: 800px;
    border: 1px dotted rgb(7, 18, 230);
    border-radius: 1px;
    background-color: rgba(233, 202, 23, 0.6);
    transition: box-shadow 0.6s ease;
}

.small-pokemon-card:hover  {
    transform: scale(1.05);
    background-color: rgba(255, 251, 0, 0.7);
}

.pokemon-name {
    font-family: 'Londrina Shadow';
    font-size: 32px;
}

.sprites-wrapper {
    display: flex;
    object-fit: cover;
    justify-content: center;
    border-radius: 12px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.small-pokemon-sprite-img { 
    height: 160px;
    width: auto;
}

.pokemon-type {
    display: flex;
    justify-content: space-around;
}

.pokemon-type-btn {
    border-radius: 50%;
    padding: 20px;
    background: radial-gradient(circle, rgb(5, 238, 5),rgba(7, 18, 230, 0.8));
}

.pokemon-id-btn {
    border-radius: 15%;
    padding: 10px;
    background: linear-gradient(to bottom, rgb(5, 238, 5), rgba(7, 18, 230, 0.8));
}

/* ------->DIALOG------------------------------*/

.pokemon-big-card {
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 0px;
    border: 6px solid azure;
    border-radius: 16px;
    color: white;
    box-sizing: border-box;
    overscroll-behavior: contain;
    background-color: rgba(233, 202, 23, 1);
}

#pokemon-dialog {
    border: none;
    padding: 0;
    background: transparent;
    transition: all 125ms ease-in-out;
    width: min(80vw, 700px);
    max-height: 80dvh;
    transition: opacity 125ms ease-in-out;
}

dialog.opened {
    opacity: 1;
}

dialog::backdrop {
    opacity: 1;
    transition: 125ms all ease-in-out;
}

dialog.opened::backdrop {
    opacity: 0.5;
    transition: 125ms all ease-in-out;
    background-color: black;
}

#pokemon-dialog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 24px 28px 24px 28px;
    box-sizing: border-box;
}

.close-btn-wrapper{
    display: flex;
    justify-content: end;
    width: 100%;
}

.header-dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.pokemon-dialog-name-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin: 12px;
    white-space: nowrap;
}

h2 {
    margin: 0;
}

.second-line-pokemon-dialog {
    display: flex;
    gap: 8px;
        margin-bottom: 12px
}

.pokemon-dialog-name {
    font-family: 'Londrina Shadow';
    font-size: 48px;
    color: black;
}

.pokemon-id-container {
    width: 100%;
}

.big-id {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    min-width: 70px;
    padding: 10px;
    font-size: 32px;
}

.dialog-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 30dvh;
}

.moves-btn-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    height: 100%;
    width: 100%;
    gap: 8px;
}

.moves-btn {
    background-color:rgb(5, 238, 5, 0.2);
    border: 1px solid rgb(5, 238, 5);
    border-radius: 8px;
    height: 36px;
    width: auto;
    white-space: nowrap;
}

.pokemon-dialog-type {
    justify-content: start;
    gap: 8px;
}

.big-pokemon-sprite-img {
    height: 240px;
    width: auto;
}

.table-headline {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    gap: 12px;
    margin-bottom: 12px;
    margin-top: 12px;
}

.table-about {
    font-size: 18px;
}

.stats-content {
    height: 320px;
    width: 100%;
    padding: 12px;
    color: black;
    background-color: rgb(255, 242, 122);
    border-radius: 8px;
}

.stat-name {
    white-space: nowrap;
}

.stat-bar-background{
    width: 100%;
    height: 14px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #d6d6d6
}

.stat-bar-fill {
    height: 100%;
    background: linear-gradient(
        to right,
        rgb(5, 238, 5),
        rgba(7, 18, 230, 0.8)
    );
    border-radius: 10px;
    transition: width 0.5s ease;
}

.column {
    flex-direction: column;
    justify-content: start;
}

.stat-row {
    display: grid;
    grid-template-columns: 100px 40px 1fr;
    align-items: center;
    gap: 10px;
    margin-bottom: 12px;
    border-width: 4px;
    border-radius: 10%;
}

.footer_dialog {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    gap: 8px;
}

.arrow {
    font-family:'Londrina Shadow', sans-serif;
    font-size: 32px;
    
}

.more-pokemon-btn {
    width: 160px;
    height: 48px;
    display: flex;
    justify-self: center;
    margin-top: 32px;
    margin-bottom: 32px;
}

/* ------->FOOTER------------------------------*/

.footer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    padding: 32px 0px 32px 0px;
    position: relative;
    margin: 0 auto;
    gap: 12px;
}

.footer-content {
    color: white;  
}

.footer-img-wrapper {
    width: 40px;
    height: 40px;   
}

.footer-img {
    width: 100%;
    object-fit: cover; 
}

/* ------->MEDIA QUERIES------------------------------*/

@media(max-width: 1580px){
    main {
        padding: 120px 18px 0px 18px;
    }
}

@media(max-width: 1000px){
    main {
        padding: 120px 12px 0px 12px;
    }
}

@media(max-width: 850px) {
    #pokemon-dialog {
        width: min(70vw, 620px);
    }
    #pokemon-dialog-content {
        padding: 18px 22px 18px 22px;
    }
    .stats-content {
        width: 60vw;
    }
}

 @media(max-width: 610px) {
    header {
        height: 265px;
    }
    main {
        padding: 30px 8px 0px 8px;
    }  
    .headline-and-logo {
        flex-direction: column;
    }
    .pokemon-thumbnails-content {
        gap: 10px;
    }
    .moves-btn {
        height: 28px;
    }

}

@media(max-width: 578px){
    main {
        padding: 12px 8px 0px 8px;;
    }
    .small-pokemon-card {
        width: max(200px, 40%);
    }
    .moves-btn {
        height: 24px;
    }
}

@media(max-width: 500px){
    .moves-btn {
        height: 18px;
        gap: 4px;
    }
    .pokemon-dialog-name {
        font-size: 36px;
    }
    .big-id {
        height: 36px;
    }
}

@media(max-width: 400px){
    .pokemon-dialog-name {
        font-size: 28px;
    }
    .big-id {
        height: 28px;
        font-size: 24px;
    }
    .big-pokemon-sprite-img {
    height: 180px;
    }
    .stat-row {
        display: flex;
        justify-content: space-between;
        align-content: center;
    }
    .stat-bar-background {
        display: none;
    }
    .moves-btn {
        height: 16px;
    }
}


@media(max-width: 320px){
    main {
        padding: 0;
    }

}