:root {
  --main-headline-color: rgb(165, 165, 225);
}


*, *::before, *::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    min-height: 100dvh;
    min-width: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(6, 3, 35, 0.9);
}

/* ------->HEADER------------------------------*/

header {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    padding: 12px 0 64px 0;
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
}

.headline-and-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 32px 12px 32px;

}

.logo-wrapper{
    height: 72px;
    width: 98px;
}

.pokedex-logo {
    height: auto;
    width: 100%;
    object-fit: contain;

}

.pokedex-main-headline{
    font-family: 'Londrina Shadow', sans-serif;
    font-size: 72px;
    color:var(--main-headline-color);
    margin: 0;
}

.search-pokemon-section { 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    
}

.input-search-pokemon {
    width: 240px;
    height: 48px;
    font-size: 18px;
    text-align: center;
}

.loading-btn {
    width: 160px;
    height: 32px;
    font-size: 16px;
    font-weight: 800;
    background-color:rgb(165, 165, 225);
}



/* ------->MAIN------------------------------*/

main {  
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 120px 24px 0 24px;
    flex: 1;
   
}

.loading-spinner{
    width: 120px;
    height: auto;
}

.error-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--main-headline-color);
    margin: 36px 0 36px 0;
}

.error-message-content{
    font-size: 24px;
}

.error-text{
    font-size: 32px;
    
}
.pokemon-thumbnails-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.small-pokemon-card {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    max-height: 800px;
    border: 1px dotted rgb(7, 18, 230);
    border-radius: 1px;
    background-color: rgba(233, 202, 23, 0.6);
    transition: box-shadow 0.6s ease;
}

.small-pokemon-card:hover  {
    transform: scale(1.05);
    background-color: rgba(255, 251, 0, 0.7);
}

.pokemon-name {
    font-family: 'Londrina Shadow';
    font-size: 32px;
}

.sprites-wrapper {
    display: flex;
    object-fit: cover;
    justify-content: center;
    border-radius: 12px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.small-pokemon-sprite-img { 
    height: 160px;
    width: auto;
}

.pokemon-type {
    display: flex;
    justify-content: space-around;
}

.pokemon-type-btn {
    border-radius: 50%;
    padding: 20px;
    background: radial-gradient(circle, rgb(5, 238, 5),rgba(7, 18, 230, 0.8));
}

.pokemon-id-btn {
    border-radius: 15%;
    padding: 10px;
    background: linear-gradient(to bottom, rgb(5, 238, 5), rgba(7, 18, 230, 0.8));
}

/* ------->DIALOG------------------------------*/

.pokemon-big-card {
    width: min(90vw, 700px);
    max-height: 90dvh;
    margin: auto;
    padding: 0px;
    border: 6px solid azure;
    border-radius: 16px;
    color: white;
    box-sizing: border-box;
    overscroll-behavior: contain;
    background-color: rgba(233, 202, 23, 0.6);
}

#pokemon-dialog {
    transition: all 125ms ease-in-out;
    transform: translateX(50px);
}

#pokemon-dialog.opened {
    transform: translateX(0px);
    transition: all 125ms ease-in-out;
}

dialog::backdrop {
    opacity: 1;
    transition: 125ms all ease-in-out;
}

dialog.opened::backdrop {
    opacity: 0.5;
    transition: 125ms all ease-in-out;
    background-color: black;
}

#pokemon-dialog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 24px 28px 24px 28px;
    box-sizing: border-box;
    /* overflow-y: auto; */
}

.close-btn-wrapper{
    display: flex;
    justify-content: end;
    width: 100%;
}

.header-dialog {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.pokemon-dialog-name-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin: 12px;
}

h2 {
    margin: 0;
}

.second-line-pokemon-dialog {
    display: flex;
    gap: 8px;
        margin-bottom: 12px
}

.pokemon-dialog-name {
    font-family: 'Londrina Shadow';
    font-size: 48px;
    color: black;
}

.big-id {
    width: 64px;
    height: 48px;
    font-size: 32px;
}

.dialog-body {
    width: 100%;
    height: 50%;
}

.moves-btn-container {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    margin: 12px;
}

.moves-btn {
    background-color:rgb(5, 238, 5, 0.2);
    border-radius: 8px;
}

.pokemon-dialog-type {
    justify-content: start;
    gap: 8px;
}

.big-pokemon-sprite-img {
    height: 240px;
    width: auto;
}

.table-headline {
    display: flex;
    padding: 12px;
}

.stats-content {
    display: flex;
    color: black;
    width: auto;
    height: min(50vh, 800px);
}

/*progress bar*/
.stat-bar-background{
    width: 20%;
    height: 18px;
    color: yellow;
    border-width: 4px;
    border-color: blue;
}

.column {
    flex-direction: column;
}

.stat-row {
    border-width: 4px;
    border-radius: 10%;
}

.footer_dialog {
    display: flex;
    justify-content: center;
    position: relative;
    top: -40px;
    gap: 8px;

}

.arrow {
    font-family:'Londrina Shadow', sans-serif;
    font-size: 32px;
    
}

.more-pokemon-btn {
    width: 160px;
    height: 48px;
    display: flex;
    justify-self: center;
    margin-top: 32px;
    margin-bottom: 32px;
}
/* ------->FOOTER------------------------------*/