@font-face {
  font-family: 'Londrina Shadow';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/londrinashadow/v28/oPWX_kB4kOQoWNJmjxLV5JuoCUlnQVyT5EncCA.woff2) format('woff2');
}
